.grid-container{
    display: grid;
    width: 1118px;
    grid-template-columns:65px 1fr 540px ;
    grid-template-rows: 62px 1fr 525px 1fr;
    background-color:white;
}
.logo{
    border:5px solid black ;
    grid-column: 1/2;
    grid-row: 1/2;
}
.header{
    border:5px solid black;
    grid-row: 3/4;
    grid-column: 1/2;
    align-content: stretch;
}