.container{
    display: grid;
    width: 1180px;
    grid-template-columns: 622px 540px;
    grid-template-rows: 62px 525px ;
    grid-template-areas:
"logo header "
"maincontent big_image ";
}
.logo{
    border:3px solid black;
}
.maincontent{
    border:3px solid black;
}